# Pyber Challenge

### 4.3 Loading and Reading CSV files

In [3]:
# Add Matplotlib inline magic command
%matplotlib inline
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
# File to Load (Remember to change these)
city_data_to_load = "Resources/city_data.csv"
ride_data_to_load = "Resources/ride_data.csv"

# Read the City and Ride Data
city_data_df = pd.read_csv(city_data_to_load)
ride_data_df = pd.read_csv(ride_data_to_load)

### Merge the DataFrames

In [4]:
# Combine the data into a single dataset
pyber_data_df = pd.merge(ride_data_df, city_data_df, how="left", on=["city", "city"])

# Display the data table for preview
pyber_data_df.head()

,city,date,fare,ride_id,driver_count,type
0,Lake Jonathanshire,1/14/2019 10:14,13.83,5.739410e+12,5,Urban
1,South Michelleport,3/4/2019 18:24,30.24,2.343910e+12,72,Urban
2,Port Samanthamouth,2/24/2019 4:29,33.44,2.005070e+12,57,Urban
3,Rodneyfort,2/10/2019 23:22,23.44,5.149250e+12,34,Urban
4,South Jack,3/6/2019 4:28,34.58,3.908450e+12,46,Urban

## Deliverable 1: Get a Summary DataFrame

In [24]:
#  1. Get the total rides for each city type
city_total_rides = pyber_data_df.groupby(["type"]).count()["ride_id"]
city_total_rides

type
Rural        125
Suburban     625
Urban       1625
Name: ride_id, dtype: int64

In [14]:
# 2. Get the total drivers for each city type
drivers_city_type = city_data_df.groupby(["type"]).sum()["driver_count"]
drivers_city_type

type
Rural         78
Suburban     490
Urban       2405
Name: driver_count, dtype: int64

In [19]:
# Combine the data into a single dataset.
pyber_complete = pd.merge(ride_data_df, city_data_df, on=["city", "city"])
# fares_city_type = ride_data_df.groupby(["city"]) & ride_data_df.groupby([type]).sum()["fare"]
# fares_city_type

,city,date,fare,ride_id,driver_count,type
0,Lake Jonathanshire,1/14/2019 10:14,13.83,5.739410e+12,5,Urban
1,Lake Jonathanshire,4/7/2019 20:51,31.25,4.441250e+12,5,Urban
2,Lake Jonathanshire,3/9/2019 23:45,19.89,2.389500e+12,5,Urban
3,Lake Jonathanshire,4/7/2019 18:09,24.28,7.796810e+12,5,Urban
4,Lake Jonathanshire,1/2/2019 14:14,13.89,4.242550e+11,5,Urban
...,...,...,...,...,...,...
2370,West Heather,4/18/2019 19:33,46.60,3.671000e+12,4,Rural
2371,West Heather,3/2/2019 21:04,20.99,5.766450e+12,4,Rural
2372,West Heather,3/6/2019 20:06,48.11,2.570550e+12,4,Rural
2373,West Heather,2/2/2019 6:28,53.07,2.462950e+12,4,Rural
2374,West Heather,5/7/2019 19:22,44.94,4.256850e+12,4,Rural

In [20]:
#  3. Get the total amount of fares for each city 
fares_city_type = pyber_complete.groupby(["type"]).sum()["fare"]
fares_city_type

type
Rural        4327.93
Suburban    19356.33
Urban       39854.38
Name: fare, dtype: float64

In [21]:
#  4. Get the average fare per ride for each city type. 
average_fare_per_type = pyber_complete.groupby(["type"]).mean()["fare"]
average_fare_per_type

type
Rural       34.623440
Suburban    30.970128
Urban       24.525772
Name: fare, dtype: float64

In [60]:
# 5. Get the average fare per driver for each city type. 
average_fare_per_driver = pyber_complete.groupby(["type"]).sum()["fare"] / city_data_df["driver_count"].count()
average_fare_per_driver

type
Rural        36.066083
Suburban    161.302750
Urban       332.119833
Name: fare, dtype: float64

In [56]:
#  6. Create a PyBer summary DataFrame. 
pyber_summary_df = pd.DataFrame({
    "Total Rides": city_total_rides,
    "Total Drivers": drivers_city_type,
    "Total Fares": fares_city_type,
    "Average Fare Per Ride": average_fare_per_type,
    "Average Fare Per Driver": average_fare_per_driver
   })
pyber_summary_df

,Total Rides,Total Drivers,Total Fares,Average Fare Per Ride,Average Fare Per Driver
type,,,,,
Rural,125,78,4327.93,34.623440,36.066083
Suburban,625,490,19356.33,30.970128,161.302750
Urban,1625,2405,39854.38,24.525772,332.119833

In [58]:
#  7. Cleaning up the DataFrame. Delete the index name
pyber_summary_df.index.name = None

pyber_summary_df

,Total Rides,Total Drivers,Total Fares,Average Fare Per Ride,Average Fare Per Driver
Rural,125,78,4327.93,34.623440,36.066083
Suburban,625,490,19356.33,30.970128,161.302750
Urban,1625,2405,39854.38,24.525772,332.119833

In [10]:
#  8. Format the columns.

## Deliverable 2.  Create a multiple line plot that shows the total weekly of the fares for each type of city.

In [11]:
# 1. Read the merged DataFrame

In [12]:
# 2. Using groupby() to create a new DataFrame showing the sum of the fares 
#  for each date where the indices are the city type and date.

In [13]:
# 3. Reset the index on the DataFrame you created in #1. This is needed to use the 'pivot()' function.
# df = df.reset_index()

In [14]:
# 4. Create a pivot table with the 'date' as the index, the columns ='type', and values='fare' 
# to get the total fares for each type of city by the date.

In [15]:
# 5. Create a new DataFrame from the pivot table DataFrame using loc on the given dates, '2019-01-01':'2019-04-29'.

In [16]:
# 6. Set the "date" index to datetime datatype. This is necessary to use the resample() method in Step 8.
# df.index = pd.to_datetime(df.index)

In [17]:
# 7. Check that the datatype for the index is datetime using df.info()

In [18]:
# 8. Create a new DataFrame using the "resample()" function by week 'W' and get the sum of the fares for each week.

In [19]:
# 8. Using the object-oriented interface method, plot the resample DataFrame using the df.plot() function. 

# Import the style from Matplotlib.
from matplotlib import style
# Use the graph style fivethirtyeight.
style.use('fivethirtyeight')